.about {
    flex-direction: column;
    margin-top: 3em;
  }
  
  .about__name {
    color: var(--clr-primary);
  }
  
  .about__role {
    font-size: 2rem;
    margin-top: 1.2em;
    text-align: center;
  }
  
  .about__desc {
    font-size: 1rem;
    max-width: 750px;
  }

  .intro {
    font-size: 18px;
    max-width: 900px;
    color: 'red';
  }
  
  .about__desc,
  .about__contact {
    margin-top: 2.4em;
  }
  
  .about .link--icon {
    margin-right: 0.8em;
    color: var(--clr-fg);
    transition: transform 0.3s ease-in-out;
  }

  .about .link--icon:hover {
    transform: scale(1.2); 
    color: var(--clr-primary);
  }
  
  .about .btn--outline {
    margin-right: 1em;
  }

/* Resume Modal Styles */
.resume-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.resume-modal__content {
  position: relative;
  width: 80%;
  height: 90%;
  max-width: 1000px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.resume-modal__close {
  position: absolute;
  top: 8px; /* 10*/
  right: 12px; /* 15*/
  /*width: 10px; /* 32*/
  /*height: 10px;/* 32*/
  /*font-size: 16px; /* 24*/
  background-color: #333; /* rgba(255, 255, 255, 0.9)*/
  /* border: 2px solid #ffffff; /*#333 */
  /* border-radius: 50%; */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1001;
  color: #ffffff; /*#333 */
  /* font-weight: bold; */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.resume-modal__close:hover {
  background-color: #f44336;
  color: white;
  border-color: #f44336;
}

.resume-modal__iframe {
  width: 100%;
  height: 100%;
  border: none;
  flex: 1;
}

/* For dark theme compatibility */
[data-theme='dark'] .resume-modal__content {
  background-color: #333;
}

[data-theme='dark'] .resume-modal__close {
  color: #eee;
}

  @media (max-width: 600px) {
    .app .about {
      align-items: flex-start;
      margin-top: 2em;
    } 
    .resume-modal__content {
      width: 95%;
      height: 95%;
    }

    .journey-stats {
      flex-direction: column;
      align-items: center;
    }
    
    .journey-stat {
      width: 80%;
    }
  }