.nav__container {
  position: relative;
}

.nav__list {
    margin-right: 1.5em;
  }

  .desktop-menu {
    display: flex;
  }

  .btn--icon{
    color: var(--theme);
  }


.mobile-dropdown {
  position: absolute;
  top: 25px;
  right: -82px;
  background-color: var(--clr-bg-alt);
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  min-width: 180px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 22px;
}

  .nav__list-item {
    margin-left: 1.5em;
  }
  
  .app .nav__hamburger {
    display: none;
  }
  
  .nav__theme {
    margin-top: -1.1em;
  }
  
  @media (max-width: 600px) {
    .desktop-menu {
      display: none;
    }
  
    .nav__list-item {
      margin: 0.5em 0;
    }
  
    .app .nav__hamburger {
      display: flex;
      z-index: 1;
      margin-left: 0.8em;
    }

    .nav__theme {
      margin-top: 0em;
    }
  }