.chatbot-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: transparent;
  }
  
  .chatbot-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--clr-bg-alt);
    color: var(--clr-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    box-shadow: var(--shadow);
    cursor: pointer;
    transition: all 0.3s ease;
    animation: pulse 1.5s infinite ease-in-out;
  }
  
  .chatbot-button:hover {
    transform: scale(1.2);
    color: var(--clr-fg-alt);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
  }
  
  .chatbot-window {
    position: absolute;
    bottom: 0px;
    right: 55px;
    width: 320px;
    height: 400px;
    background-color: var(--clr-bg);
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .chatbot-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: var(--clr-primary);
    color: white;
  }
  
  .chatbot-header h3 {
    margin: 0;
    font-size: 1rem;
  }

  .chatbot-button.active {
    
    box-shadow: 0 0 0 2px var(--clr-primary);
  }
  
  .close-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  .chatbot-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 15px;
    overflow: hidden;
  }
  
  .chatbot-messages {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 15px;
  }
  
  .bot-message {
    background-color: var(--clr-bg-alt);
    border-radius: 10px;
    padding: 10px 15px;
    margin-bottom: 10px;
    max-width: 80%;
    align-self: flex-start;
  }
  
  .user-message {
    background-color: var(--clr-primary);
    color: white;
    border-radius: 10px;
    padding: 10px 15px;
    margin-bottom: 10px;
    max-width: 80%;
    align-self: flex-end;
    margin-left: auto;
  }
  
  .chatbot-input {
    display: flex;
    margin-top: auto;
  }
  
  .chatbot-input input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid var(--clr-bg-alt);
    border-radius: 5px 0 0 5px;
    outline: none;
  }
  
  .send-button {
    background-color: var(--clr-primary);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  
  /* Animation for the chat window */
  .chatbot-window {
    animation: slideUp 0.3s ease-out;
    box-shadow: 0 4px 20px rgba(151, 151, 151, 0.2);
  }
  
  @keyframes slideUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Make responsive for smaller screens */
  @media (max-width: 480px) {
    .chatbot-window {
      width: 280px;
    }
    .send-button {
        right: 50px;
      }
  }